{# templates/empresa/edit.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Editar Empresa{% endblock %}

{% block body %}
    <h1>Editar Empresa</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Salvar</button>
    {{ form_end(form) }}

    <a href="{{ path('app_empresas') }}">Voltar</a>
{% endblock %}
