{% extends 'base.html.twig' %}

{% block title %}Empresas{% endblock %}

{% block body %}
    <h1>Empresas</h1>

    <a href="{{ path('app_empresas_new') }}">Cadastrar Empresa</a> |
    <a href="{{ path('app_empresas_list') }}">Listar Empresas</a>
{% endblock %}
 