{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cadastrar Sócio</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Salvar</button>
    {{ form_end(form) }}
        <a href="{{ path('app_socio') }}">Voltar a Home</a>
{% endblock %}
